<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">

        if (localStorage.getItem("access_token") == null) {

            window.location.replace("/");
        }

    </script>
    <!-- Title -->
    <title>Arbolado 2019</title>
    <!-- Main Icon -->
    <link rel="icon" type="text/css" href="../resource/image/main-icon.png">
    <!-- Apple Icon -->
    <link rel="apple-touch-icon" type="text/css" href="../resource/image/main-icon.png">
    <!-- Meta information and responsive scale -->
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <!--import js and css from mapBox's CDN-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <link rel="stylesheet" href="../resource/css/leaflet.css">

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

    <!-- Offline By Kevin Marchan-->
    <script src="../resource/js/leaflet.js"></script>
    <script src="../resource/js/labels.js"></script>
    <!-- GeoJson Capas Offline By Kevin Marchan-->
    <script src="../resource/js/data/calles_2020_3.js"></script>
    <script src="../resource/js/data/capital_manzanas_0.js"></script>
    <script src="../resource/js/data/espacios_verdes_2020_1.js"></script>
    <script src="../resource/js/data/infraestructura_2.js"></script>

</head>

<body id="bodyArbolesCensados">

<!-- Loading -->
<div class="se-pre-con"></div>


<div id="mainArbolesCensados">
    <main-header></main-header>
    <div class="col-12 text-center">
        <h5 class="text-success main-font pb-2 pt-2 page-title" id="page-title">Árboles censados </h5>

        <button type="button" @click="window.location.reload()" class="btn btn-success btn-sm mb-2"><i class="fas fa-crosshairs"></i>Actualizar mi ubicación</button>
        <!-- Add new Item BTN -->
      <div tooltip="Agregar nuevo árbol" class="row">
            <a class="add-new-item-btn" href="#" @click="selectedParams()">
                    <li class="fas fa-plus text-light"></li>
            </a>
        </div>

        <!-- New Map from leafLet -->
        <div id="myTreesMap" style="height: 400px;"></div>

        <div class="col-12" >

        </div>

        <h6>Lista de árboles censados</h6>
        <div class="list-group" id="listview">

        </div>



        <!-- Navigation buttons -->
        <div class="row col-12 ml-1 mr-1" style="margin-top:20px;">
            <!-- Back -->
            <div class="col-6 text-left mt-4 pl-0">
                <h4>
                <a href="#" @click="goBack" class="align-items-start">
                    <i class="fas fa-arrow-left" style="width: 50%;"></i>
                </a>
                </h4>
            </div>


            <!-- Next no needed
            <div class="col-6 text-right mt-4 pr-0">
                <h4>
                <a href="home.html" class="align-items-start">
                    <i class="fas fa-arrow-right" style="width: 50%;"></i>
                </a>
                </h4>
            </div>-->
        </div>
        <!-- End of nav buttons -->

    </div>

    <!--script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpKOoFiMIRpJ5r8g0zPiNjCswiJ4BdbFc"></script-->
</div>
</body>
</html>
